<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jcdsucucu</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <h1>I'm index</h1>
    <form action="/adddata" method="post">
        <div>
            <label>Task No. :- </label>
            <input type="text" name="rno">
        </div>
        <div>
            <label>Task Name :- </label>
            <input type="text" name="name">
        </div>
        <input type="submit"></input>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Task No.</th>
                <th>Task Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <% allData.map((v)=>{ %>
            <tr>
                <td><%= v.rno %></td>
                <td><%= v.name %></td>
                <td>
                    <button><a href="/delData?id=<%= v.rno %>">Delete</a></button>
                    <button><a href="/editdata?id=<%= v.rno %>">Edit</a></button>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>